.card{
    margin-bottom: 10px;
    background-color: rgba(60, 190, 77, 0.603);
    border-radius: 10px;
    width: 100%;
    list-style: none;
    color: rgb(255, 255, 255);
}
.card a {
    color: rgb(18, 248, 18);
}