.botoes-paginacao{
    margin-left: 38%;
}
.botao-paginacao{
    background-color: rgb(136, 216, 70);
    width: 40px;
    height: 37px;
}
.label-paginacao{
    color: rgb(255, 255, 255);
    width: 40%  ;
    height: 80px;
    margin-left: 3%;
    margin-right: 3%;
}